body
{
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 8vh 84vh 8vh;
}

header
{
    grid-column: span 12;
    display: flex;
    flex-flow: row wrap;
    background: #37ABFF;
}
header > p
{
    margin-left: right;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}

header p + div
{
    margin-left: auto;
}
header div{
    margin: 10px;

}
.icon
{
    grid-column: 11;
    width: 50px;
    height: 50px;
    background: #59B9FF;
    border-radius: 50%;
}

body aside
{
    grid-column: span 2;
    background: #EDEDED;
}
body aside p
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500px;
    font-size: 18px;
    line-height: 21px;
    color: #464646;
    height: 100px;
    margin: auto;
    align-items: center;
}
body aside p:hover
{
    background: #59B9FF;
}

main{
    grid-column: span 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 1000px;
}


.card
{
    display: block;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background: #F3F3F3;
    border-radius: 10px;
    max-width: 230px;
    text-align: left;
    margin: 10px;
}
.card img
{
    border-radius: 10px 10px 0px 0px;
    
}
.card p
{
    margin-left: 10px;
    font-size: medium;
}
.card p+p{
    font-size: small;
    color: gray;
}

.button
{
    border-radius: 0px 0px 10px 10px;
    background: lightgrey;
    text-align: center;
}
#seemore
{
    width: 200px;
    height: 50px;
    background:#59B9FF;
    align-items: center;/*пытался выровнять текст в центре... не вышло*/
    color: white;
    border-radius: 10px;
}

footer
{
    grid-column: span 12;
    display: flex;
    background: #3C3C3C;
}
footer p
{
    margin: auto 10px;
    color: lightgray;
}
footer p+p
{
    margin-left: auto;
}